body {
  display: flex;
  flex-direction: column;
}

router-oultet {
    height: calc(100vh - 80px); 
    width: 100%;
    background-color: black;
    padding-bottom: 120px;
}

header {
  margin-bottom: 20px;
  background-color: var(--primaryColor);;
  text-align: center;
  padding: 10px;
  width: 100%;
}

main {
  width: 100%;
  background-color: var(--white);
}

footer{
  position:static;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, var(--white) 0%, var(--primaryColor));
  color: var(--black);
  display: flex;
  bottom: 0;
  height: 350px;
  width: 100%;
  justify-content: center;
  align-items: center;
  }

  app-lubri-search {
    margin-right: 25vw;
}