router-oultet {
    height: calc(100vh - 80px); 
}

footer{
    background-color: #d6d5d200;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
}

header {
  background-color: #f4ecd1;
  text-align: center;
  padding: 10px;
}