<div class="container col-12 border border-primary rounded"> 
    <div class="row justify-content-end">
        <div class="dropdown col-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            ordenar por
            </button>
            <ul class="dropdown-menu">
            <li><button (click)="orederByPrice()" class="dropdown-item">precio</button></li>
            <li><button (click)="orderByStock()" class="dropdown-item">stock</button></li>
            <li><button (click)="orderByBrand()" class="dropdown-item">marca</button></li>
            <li><button (click)="orderByType()" class="dropdown-item">tipo</button></li>
            <li><button (click)="orderByName()" class="dropdown-item">nombre</button></li>
            </ul>
        </div>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Marca</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>stock</th>
            </tr>
        </thead>
        <tbody>
            @for(product of products; track product.id) {
                <tr>
                    <td>{{ product.type | titlecase}}</td>
                    <td>{{ product.brand | titlecase}}</td>
                    <td>{{ product.name | titlecase}}</td>
                    <td>{{ product.salePrice | currency}}</td>
                    @if(product.stock == 0) {
                        <td><span class="badge text-bg-warning">SIN STOCK</span></td>
                    }@else {
                        <td>{{ product.stock}}</td>
                    }
                    <td>
                        <button class="btn btn-outline-primary me-1" (click)="update()">Editar</button>
                        <button class="btn btn-outline-danger ms-1" (click)="delete(product)">Eliminar</button>
                    </td>
                </tr>
            }@empty {
                <tr>
                    <td colspan="5">No hay productos</td>
                </tr>
            }
        </tbody>
    </table>
</div>
