/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --primaryColorLight2: #FFDD20;
    --primaryColorLight1: #FFD900;
    --primaryColor: #FFD10A;
    --primaryColorDark1: #B69B00;
    --primaryColorDark2: #897400;
    --secondaryColorLight2: rgba(255, 255, 255, 0.20);
    --secondaryColorLight1: #767279;
    --secondaryColor: #3F3C3C;
    --secondaryColorDark1: #252525;
    --secondaryColorDark2: #252525;
    --black:#100B16;
    --white:#FFFAE3;
    --highLight:#5227FF;
    --success:#04AA6D;
    --error:#FF2020;
    --warning:#FFE141;
  
    --familyFontNunito:'Nunito Sans', sans-serif;
  
  }

  body {
    font-family: var(--familyFontNunito);
    background-color: var(--white);
    color: var(--black);
  }

  *::-webkit-scrollbar {
    width: 12px;       
    height: 0;        
}
*::-webkit-scrollbar-track {
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--primaryColorDark2);
    border-radius: 20px;
    border: 3px solid var(--black);
}